@media (max-width:900px) {
    .game-board {
        max-width: 100vw;
        height: 100vh;
        border: none;
        border-bottom: 12px solid green;
    }

    .clouds {
        width: 350px;
        animation: cloud-animation 25s infinite linear;
    }
    
    .counter-final {
        top: 70%;

        transform: scale(1.1);
    }

    .btn-reset {
        top: 55%;
        width: 45px;
    }

    .game-over {
        top: 40%;
        left: calc(50% - 80px);
        font-size: 45px;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        display: none;
    }
}