* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    display: flex;
}

.game-board {
    flex: 1;
    max-width: 700px;
    height: 500px;
    border: 1px solid #ccc;
    margin: auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
    display: flex;
    flex-direction: column;
}

.header {
    margin: 100px auto 0;
    font-size: 20px;
    color: #fff;
    -webkit-text-stroke: 1px #333;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 40px;
}

.characters {
    display: flex;
    gap: 50px;
}

.character {
    cursor: pointer;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow {
    opacity: 0;
}

.character:hover {
    transform: scale(1.05);
}

.selected {
    transform: scale(1.05);
    opacity: 1;
}

.actived {
    opacity: 1;
}

.play-button {
    margin: auto;
    height: 65px;
}

.play-button button {
    border: 1px solid #1cabe4;
    border-radius: 5px;
    padding: 3px 20px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    background-color: #8dd1ec;
    box-shadow: 1px 1px 5px #87ceeb;
    cursor: pointer;
}

.play-button button:disabled {
    background-color: #ccc;
    color: #fff;
    border: none;
    box-shadow: none;
    cursor: auto;
}